@model ABS_LMS.Models.ForgotPasswordViewModel
@{
    ViewBag.Title = "Forgot your password?";
}

<div class="row forgPass">
    <div class="col-sm-6 col-sm-offset-2">
        @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { role = "form" }))
        {
        @Html.AntiForgeryToken()
        <div class="row">
            <h1>Enter your user name</h1>
        </div>
        <div class="row">
            @if (Model != null)
            {
            @Html.ValidationSummary("", new { @class = "" })
            if (!Model.IsValidEmployee)
            {
            @Html.Label("&nbsp;", new { @class = "blanklabel" })
            <span class="pull-left alert alert-warning">User name does not exist.</span>
            }
            }
        </div>
        <div class="row">
            @Html.LabelFor(m => m.UserName)
            @Html.TextBoxFor(m => m.UserName)
            @Html.Label("&nbsp;", new { @class = "blanklabel" })
            @*@Html.ValidationMessageFor(m => m.UserName, "", new { @class = "pull-left alert alert-warning " })*@
            <input type="submit" style="margin-top: 30px; border-radius: 0" value="Email Link" class="EmailLink" />
        </div>
        }
    </div>
</div>
        @section Scripts {
            @Scripts.Render("~/bundles/jqueryval")
        }
