@using ABS_LMS.Models.Security
@model ABS_LMS.Models.ResetPasswordViewModel
@{
    ViewBag.Title = "Set password";
}
<div class="row setpassword">
<div class="col-sm-6 col-sm-offset-2">

    @using (Html.BeginForm("ResetPassword", "Administrator", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
    <div class="row">
        <h1>Set Password</h1>
    </div>
        <p>Please enter your new security details:</p>
     

        @Html.ValidationSummary("", new {@class = "alert alert-warning"})
        @Html.HiddenFor(model => model.Code)
        @Html.HiddenFor(model => model.UserName)

    <div class="row">
        @Html.LabelFor(m => m.Password)
        @Html.PasswordFor(m => m.Password)
        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "pull-left alert alert-warning" })
        <div class="row">
        </div>
        @Html.LabelFor(m => m.ConfirmPassword)
        @Html.PasswordFor(m => m.ConfirmPassword)
        @Html.Label("&nbsp;", new { @class = "blanklabel" })
        @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "pull-left alert alert-warning" })
    </div>
    <input type="submit" value="Save" />
        


    }

</div>
</div>
<div class="row">
    <div class="col-sm-6 col-sm-offset-2">
        @if (Model != null)
        {
            <label>@Model.PasswordMessage</label>
        }
    </div>


</div>
@if(HttpCurrentUser.IsAdmin)
{
<div class="col-sm-6 col-sm-offset-2">
    To view employees @Html.ActionLink("click here", "Index", "Employee", null, new {id = "employeeLink"})
</div>
    <div class="col-sm-6 col-sm-offset-2">
        To view admin users @Html.ActionLink("click here", "Index", "Administrator", null, new {id = "employeeLink"})
    </div>
}


    @section scripts
    {

    <script type="text/javascript">
        $(document).ready(function () {
            $('.nav #ResetPassword').addClass('active');
        });
    </script>
    }

