@using ABS_LMS.Models.Security
<div class="col-xs-4 col-md-2 logo-container">
    <a href="/"><img class="logo" src="~/Content/themes/LMS/images/andersonBPO_logo.png" alt="Anderson Group" /></a>
</div>
<div class="col-xs-8 header-top">
    <div>
        @if (Request.IsAuthenticated)
        {
            <a href="#" class="userName" style="width: 34%">@HttpCurrentUser.FirstName </a>
        }
        <a href="tel:12345678" class="tel">Call 12345678</a>
        @Html.Partial("_LoginPartial")
    </div>
</div>
@if (Request.IsAuthenticated)
{
    <nav class="navbar col-xs-8" role="navigation">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-menuitems">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <div class="navbar-header collapsed" data-toggle="collapse" data-target="#navbar-menuitems">
            <a class="navbar-brand" rel="home" href="#" title="Help">
                Menu
            </a>
        </div>
        <div id="navbar-menuitems" class="navbar-collapse navbar-left collapse">
            <ul class='nav navbar-nav @(HttpCurrentUser.IsUser || HttpCurrentUser.IsManager? "user-menu" : "")'>
                <li>
                    @Html.ActionLink("Home", "Index", "Home", null, new { @id = "Home" })
                </li>

                @if (Request.IsAuthenticated)
                {
                    if (HttpCurrentUser.IsHR || HttpCurrentUser.IsAdmin)
                    {
                        <li>@Html.ActionLink("Employee", "Index", "Employee", null, new { @id = "employee" })</li>
                    }
                    <li>@Html.ActionLink("Leaves", "Index", "Leave", new { id = HttpCurrentUser.EmployeeId }, new { @Id = "Leaves" })</li>
                    if (HttpCurrentUser.IsAdmin)
                    {
                        <li>
                            @Html.ActionLink("Administrator", "Index", "Administrator", null, new { @Id = "Administrator" })

                        </li>
                    }

                    <li>@Html.ActionLink("Profile", "Details", "Employee", new { id = HttpCurrentUser.EmployeeId }, new { @Id = "Profile" })</li>


                    if (HttpCurrentUser.IsManager || HttpCurrentUser.IsHR || HttpCurrentUser.IsUser)
                    {
                        <li>@Html.ActionLink("Reset Password", "ResetPassword", "Administrator", new { userName = HttpCurrentUser.Name }, new { @Id = "ResetPassword" })</li>
                    }
                    if (HttpCurrentUser.IsHR || HttpCurrentUser.IsAdmin)
                    {
                        <li>@Html.ActionLink("Manage Event", "Index", "Event")</li>
                    }
                }

            </ul>
        </div>
    </nav>
}