@using ABS_LMS.Models.Security
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../../Content/themes/LMS/images/New-logo.jpg" sizes="32x32" />
    @*<title>@ViewBag.Title -AnderosnBPO</title>*@
    <title>Efficient Process, Better Business</title>
    @Styles.Render("~/bundles/css")
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/bundles/base")
    <meta name="description" content="Anderson Business Solutions Pvt. Ltd." />
</head>
<body>

    <div class="header container-fluid">
        <div class="container">
            @Html.Partial("~/Views/Shared/_HeaderPartial.cshtml")
        </div>
    </div>
<div class="container">
    <div id="divLoading" ></div>
    @RenderBody()
</div>
    <div class="clear"></div>
    <div class="footer container">
        <p>
          
            <span>&copy; @DateTime.Today.Year AndersonBPO</span>
            <span class="Telephone">Tel : 022-6736 2121</span>
            <span>Website: <a href="http://andersonbpo.com/">andersonbpo.com</a></span>
            @*<span>@Html.ActionLink("Privacy Policy", "PrivacyPolicy", "Home")</span>*@
        </p>
    </div>
     @Scripts.Render("~/bundles/jquerylib")
    <script src="~/Scripts/bootstrap.min.js"></script>
    @RenderSection("scripts", required: false)
<script type="text/javascript">
   
 
    function onBegin() {
    
        $("#divLoading").html('<div style="background-color: rgb(102, 102, 102);   top: 0; left: 0; width: 100%; height: 100%; opacity: .5; position: fixed; z-index: 1234; "> <image src="../../Content/themes/LMS/images/anderson.gif" alt="Loading, please wait" style="z-index: 12345;position: fixed; top: 40%; left: 45%;" />');
        
    }
    function onComplete() {
        $("#divLoading").html("");
    }
</script>
</body>
</html>
