@model IEnumerable<ABS_LMS.Models.EmployeeViewModel>

    @{
    ViewBag.Title = "Index";
    }
    <div class="row padding-left-10 employeelist">
        <h2>Index</h2>

        <p>
            @Html.ActionLink("Create New", "Create")
        </p>
        <table class="table">
            <tr>
                @*
                <th>
                    @Html.DisplayNameFor(model => model.EmployeeDetail.EmployeeId)
                </th>*@
                <th>
                    @Html.DisplayNameFor(model => model.EmployeeDetail.EmployeeCode)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.EmployeeDetail.FirstName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.EmployeeDetail.LastName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.EmployeeDetail.CompanyEmailId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.EmployeeDetail.Designation)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
            <tr>
                @*
                <td>
                    @item.EmployeeDetail.EmployeeId.ToString()
                </td>*@
                <td>
                    @item.EmployeeDetail.EmployeeCode
                </td>
                <td>
                    @item.EmployeeDetail.FirstName
                </td>
                <td>
                    @item.EmployeeDetail.LastName
                </td>
                <td>
                    @item.EmployeeDetail.CompanyEmailId
                </td>
                <td>
                    @item.EmployeeDetail.Designation
                </td>
                <td> 
                    @Html.ActionLink("Delete", "Delete", new {id = item.EmployeeDetail.EmployeeId} ,new {onclick = "return confirm('Are you sure you wish to delete " + item.EmployeeDetail.FirstName + "?');",@class="linktobtn"})
                    @Html.ActionLink("Details", "Details", new {id = item.EmployeeDetail.EmployeeId},new {@class="linktobtn"}) 
                    @Html.ActionLink("Edit", "Edit", new {id = item.EmployeeDetail.EmployeeId},new {@class="linktobtn editbtnlink"}) 
                </td>
            </tr>
            }

        </table>
    </div>
    @section scripts
    {

    <script type="text/javascript">
        $(document).ready(function () {
            $('.nav #employee').addClass('active');
        });
    </script>
    }
