@using ABS_LMS.Models.Security
@using PagedList.Mvc
@model ABS_LMS.Models.EmployeeIndexViewModel

@{
    ViewBag.Title = "Index";
}
<div class="row padding-left-10 employeelist">
    <h2>Index</h2>

    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.EmployeeDetail.FirstOrDefault().EmployeeCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmployeeDetail.FirstOrDefault().FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmployeeDetail.FirstOrDefault().LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmployeeDetail.FirstOrDefault().CompanyEmailId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmployeeDetail.FirstOrDefault().Designation)
            </th>
            @*<th>
                    @Html.ActionLink("EmployeeCode", "Index", new { sortOrder = "EmployeeCode", sortOrderDesc = ViewBag.SortOrderDesc })
                </th>
                <th>
                    @Html.ActionLink("FirstName", "Index", new { sortOrder = "FirstName", sortOrderDesc = ViewBag.SortOrderDesc })
                </th>
                <th>
                    @Html.ActionLink("LastName", "LastName", new { sortOrder = "title", sortOrderDesc = ViewBag.SortOrderDesc })
                </th>
                <th>
                    @Html.ActionLink("CompanyEmailId", "CompanyEmailId", new { sortOrder = "CompanyEmailId", sortOrderDesc = ViewBag.SortOrderDesc })
                </th>
                <th>
                    @Html.ActionLink("Designation", "Designation", new { sortOrder = "Designation", sortOrderDesc = ViewBag.SortOrderDesc })
                </th>*@
            <th></th>
        </tr>

        @foreach (var item in Model.EmployeeDetail)
        {
            <tr>
                <td>
                    @item.EmployeeCode
                </td>
                <td>
                    @item.FirstName
                </td>
                <td>
                    @item.LastName
                </td>
                <td>
                    @item.CompanyEmailId
                </td>
                <td>
                    @item.Designation
                </td>
                <td>
                    @Html.ActionLink("Delete", "Delete", new { id = item.EmployeeId }, new { onclick = "return confirm('Are you sure you wish to delete " + item.FirstName + "?');", @class = "linktobtn" })
                    @Html.ActionLink("Details", "Details", new { id = item.EmployeeId }, new { @class = "linktobtn" })
                    @Html.ActionLink("Edit", "Edit", new { id = item.EmployeeId }, new { @class = "linktobtn editbtnlink" })
                </td>
            </tr>
        }
    </table>
    <div>
        Page @(Model.EmployeeDetail.PageCount < Model.EmployeeDetail.PageNumber ? 0 : Model.EmployeeDetail.PageNumber) of @Model.EmployeeDetail.PageCount
    </div>
    @Html.PagedListPager(Model.EmployeeDetail, pagenumber => Url.Action("Index", new { id = HttpCurrentUser.EmployeeId, pagenumber }))
</div>

@section scripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            $('.nav #employee').addClass('active');
        });
    </script>
}
