@using ABS_LMS.Models.Security
@using ABS_LMS.Service.Model
@model IEnumerable<ABS_LMS.Models.EmployeeLeaveViewModel>

@{
    ViewBag.Title = "LeavePendingForApproval";
}

<h2>Leave Pending For Approval</h2>



@if (Model != null)
{

    if (@Model.Any())
    {
        <div class="desktopview">
            <table class="table">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.EmployeeLeaveDetails.EmployeeName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.EmployeeLeaveDetails.LeaveStartDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.EmployeeLeaveDetails.LeaveEndDate)
                    </th>
                    @*<th>
                        @Html.DisplayNameFor(model => model.EmployeeLeaveDetails.JoiningDate)
                    </th>*@
                    <th>
                        @Html.DisplayNameFor(model => model.EmployeeLeaveDetails.LeaveTypeId)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.EmployeeLeaveDetails.NoOfDays)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.EmployeeLeaveDetails.Reason)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.EmployeeLeaveDetails.LeaveStatus)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.EmployeeLeaveDetails.CreatedDateUTC)
                    </th>
                    <th></th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.EmployeeLeaveDetails.EmployeeName)
                        </td>
                        <td>
                            @item.EmployeeLeaveDetails.LeaveStartDate.ToString("dd-MMM-yyyy")
                        </td>
                        <td>
                            @item.EmployeeLeaveDetails.LeaveEndDate.ToString("dd-MMM-yyyy")
                        </td>
                        @*<td>
                            @Html.DisplayFor(modelItem => item.EmployeeLeaveDetails.JoiningDate)
                        </td>*@
                        <td>
                            @Html.DisplayFor(modelItem => item.EmployeeLeaveDetails.LeaveTypeName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.EmployeeLeaveDetails.NoOfDays)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.EmployeeLeaveDetails.Reason)
                        </td>
                        <td class="@item.EmployeeLeaveDetails.EmployeeLeaveHistoryId">
                            @Html.DisplayFor(modelItem => item.EmployeeLeaveDetails.LeaveStatusDisplayName)
                        </td>
                        <td>
                           @string.Format("{0:dd-MMM-yyyy}", item.EmployeeLeaveDetails.CreatedDateUTC)
                        </td>
                        <td>
                            @if (item.EmployeeLeaveDetails.LeaveStatusName != LeaveStatus.Reject.ToString() && item.EmployeeLeaveDetails.LeaveStatusName != LeaveStatus.Approve.ToString())
                            {
                                <div id="@item.EmployeeLeaveDetails.EmployeeLeaveHistoryId" class="pendingLeave">
                                    <input type="button" value="@LeaveStatus.Approve.ToString()" data-status="@LeaveStatus.Approve.ToString()" data-historyid="@item.EmployeeLeaveDetails.EmployeeLeaveHistoryId" class="btn btn-default" />
                                    &nbsp; &nbsp;
                                    <input type="button" value="@LeaveStatus.Reject.ToString()" data-status="@LeaveStatus.Reject.ToString()" data-historyid="@item.EmployeeLeaveDetails.EmployeeLeaveHistoryId" class="btn btn-default" />
                                </div>
                            }
                        </td>
                    </tr>

                }

            </table>
        </div>


        <div class="row mobileview">
            @foreach (var item in Model)
            {
                <div class="col-md-12 main">
                    <div class="col-md-6 ">
                        <div class="setfloat">
                            @Html.LabelFor(modelItem => item.EmployeeLeaveDetails.EmployeeName)
                        </div>
                        <div class="setfloat">
                            @item.EmployeeLeaveDetails.EmployeeName
                        </div>
                        <div class="setfloat ">
                            @Html.LabelFor(modelItem => item.EmployeeLeaveDetails.LeaveStartDate)
                        </div>

                        <div class="setfloat ">
                            @item.EmployeeLeaveDetails.LeaveStartDate.ToString("dd-MMM-yyyy")
                        </div>
                        <div class="setfloat ">
                            @Html.LabelFor(modelItem => item.EmployeeLeaveDetails.LeaveEndDate)
                        </div>

                        <div class="setfloat ">
                            @item.EmployeeLeaveDetails.LeaveEndDate.ToString("dd-MMM-yyyy")
                        </div>
                        @*<div class="setfloat ">
                            @Html.LabelFor(modelItem => item.EmployeeLeaveDetails.JoiningDate)
                        </div>
                        <div class="setfloat ">
                            @item.EmployeeLeaveDetails.JoiningDate
                        </div>*@
                        <div class="setfloat ">
                            @Html.LabelFor(modelItem => item.EmployeeLeaveDetails.LeaveTypeName)
                        </div>

                        <div class="setfloat ">
                            @item.EmployeeLeaveDetails.LeaveTypeName
                        </div>
                        <div class="setfloat ">
                            @Html.LabelFor(modelItem => item.EmployeeLeaveDetails.NoOfDays)
                        </div>

                        <div class="setfloat ">
                            @item.EmployeeLeaveDetails.NoOfDays
                        </div>
                        <div class="setfloat ">
                            @Html.LabelFor(modelItem => item.EmployeeLeaveDetails.Reason)
                        </div>

                        <div class="setfloat ">
                            @item.EmployeeLeaveDetails.Reason
                        </div>
                        <div class="setfloat ">
                            @Html.LabelFor(modelItem => item.EmployeeLeaveDetails.LeaveStatusName)
                        </div>

                        <div class="setfloat  @item.EmployeeLeaveDetails.EmployeeLeaveHistoryId ">
                            @item.EmployeeLeaveDetails.LeaveStatusDisplayName
                        </div>

                        <div class="setfloat ">
                            @Html.LabelFor(modelItem => item.EmployeeLeaveDetails.CreatedDateUTC)
                        </div>

                        <div class="setfloat ">
                          @string.Format("{0:dd-MMM-yyyy}", item.EmployeeLeaveDetails.CreatedDateUTC)
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="setfloat link-align">
                            @if (item.EmployeeLeaveDetails.LeaveStatusName != LeaveStatus.Reject.ToString() && item.EmployeeLeaveDetails.LeaveStatusName != LeaveStatus.Approve.ToString())
                            {
                                <div id="@item.EmployeeLeaveDetails.EmployeeLeaveHistoryId">
                                    <input type="button" value="@LeaveStatus.Approve.ToString()" data-status="@LeaveStatus.Approve.ToString()" data-historyid="@item.EmployeeLeaveDetails.EmployeeLeaveHistoryId" class="btn btn-default" />

                                    <input type="button" value="@LeaveStatus.Reject.ToString()" data-status="@LeaveStatus.Reject.ToString()" data-historyid="@item.EmployeeLeaveDetails.EmployeeLeaveHistoryId" class="btn btn-default" />
                                </div>
                            }
                        </div>
                    </div>
                </div>
            }
        </div>
    }
}
<div>
    @Html.ActionLink("Back", "Index", new { id = HttpCurrentUser.EmployeeId })
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script>

        $(document).ready(function () {
            $('.nav #Leaves').addClass('active');
            $(document).on("click", ".btn", function () {
                var row = $(this),
                    status = row.data("status"),
                    historyid = row.data("historyid");
                if (confirm('Are you sure?')) {
                    $.ajax({
                        type: "POST",
                        url: "/Leave/LeaveStatus",
                        data: { status: status, historyid: historyid },
                        dataType: 'json',
                        success: function (response) {
                            if (parseInt(response) > 0) {

                                $('#' + historyid).text(status);
                                $('.' + historyid).text(status);
                                $('#' + historyid).css("display", 'none');
                                $('. link - align #' + historyid).css("display", 'none');

                            }
                        },
                        error: function () {
                        }
                    });
                }
            });
        });

    </script>

}


